.booking_dialog_container {
    margin-top: 100px;
}

.booking_dialog_content {
    display: flex;
    justify-content: space-evenly;
}

.dialog_flight_details {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.dialog_passengers_details {
    display: flex;
    flex-direction: column;
    width: 1700px;
}